@back-color: #666;
@main-color: #8e0800;
@menu-color: #8e0800;
@menu-hover-color: #fa9344;
@menu-text-color: white;
@light-grey: #e0dddd;
@fontSize: 14px;
@border-radius: 4px;
@padding: 0px;

.menuoptions (@par-display){
	ul {
		list-style: none;
		padding: 0;
		margin: 0 auto 0 auto;
	}
	li {
		background: @menu-color;
		border-radius: @border-radius;
		.menuoptionsmarginbottom(@par-display);
		display: @par-display;
		:hover, &.active {
			background: @menu-hover-color;
		};
	}
	a {
		color: @menu-text-color;
		padding: 10px 20px;
		text-decoration: none;
		display: block;
	}
	i {
		padding-right: 15px;
	}
}

.menuoptionsmarginbottom (@par-display)when (@par-display = block) {
	margin-bottom: 3px;
}

.gradient (@direction, @startcolor, @endcolor) {
	background: -webkit-linear-gradient(@direction, @endcolor, @startcolor); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(@direction, @endcolor, @startcolor); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(@direction, @endcolor, @startcolor); /* For Firefox 3.6 to 15 */
    background: linear-gradient(@direction, @endcolor, @startcolor); /* Standard syntax (must be last) */
}

body {
	background-color: @back-color !important;
    font-size: @fontSize;
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	margin: 0px;
}

header {
	// margin left and right auto to center horizontaly
	margin: 10px auto 30px auto;
	height: 150px;
	background-image: url("/src/client/img/RE2.jpg");
	background-position-y: 8%;
	.title {
		background-color: rgba(0, 0, 0, 0.75);
		color: white;
		font-size: 25px;
		float: left;
		padding: 20px;
		border-bottom-right-radius: 20px;
	}
	.headerinfo {
		float:right;
		background-color: rgba(255, 255, 255, 0.95);
		color: black;
		padding: 10px;
		font-weight: bold;
		border-bottom-left-radius: 20px;
	}
}

#container {
	padding: 20px;
    background-color: white;
    margin: 20px 50px;
    overflow: hidden;
	border-radius: @border-radius;
}

nav#usermenu{
	.menuoptions(inline-block);
	.gradient(right, white, #666666);
	padding: 0;
	margin-bottom: 20px;
	li {
		width: 200px;
	}
}

nav#leftmenu {
	.menuoptions(block);
	margin: 0 auto 0 auto;
}

#login {
	margin: 0 auto 20px auto;
	background-color: @light-grey;
	border-radius: @border-radius;
	text-align: center;
	h4 {
		padding-top: 8px;
	}
	span {
		font-weight: bold;
	}
	input[type="text"] {
		margin: 4px;
		padding: 0 0 0 3px;
	}
	input[type="submit"] {
		background-color: @main-color;
		padding: 5px 20px;
		text-align: center;
		margin: 10px 0px 5px 0px;
		border: 0;
		border-radius: @border-radius;
		font-weight: bold;
		color: white;
	}
	input[type="submit"]:disabled {
		background-color: @main-color;
		color: white;
	}
	input[type="submit"]:hover {
		background-color: @menu-hover-color;
	}
	img {
		width: 60px;
		height: 60px;
		margin: 5px auto 10px auto;
		border-radius: 3px;
	}
}

#maincontent {
	margin: 0 auto 0 auto;
	section {
		border-radius: @border-radius;
		.title {
			background-color: @menu-color;
			text-align: center;
			padding: 10px 0 10px 0;
			font-weight: bold;
			font-size: 20px;
			margin: 0px auto 10px auto;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			color: @menu-text-color;
		}
	}
	input[type="button"] {
		background-color: @main-color;
		padding: 5px 20px;
		text-align: center;
		margin: 10px 0px 5px 0px;
		border: 0;
		border-radius: @border-radius;
		font-weight: bold;
		color: white;
	}
	input[type="button"]:hover {
		background-color: @menu-hover-color;
	}
	input[type="submit"] {
		background-color: @main-color;
		padding: 5px 20px;
		text-align: center;
		margin: 10px 0px 5px 0px;
		border: 0;
		border-radius: @border-radius;
		font-weight: bold;
		color: white;
	}
	input[type="submit"]:hover {
		background-color: @menu-hover-color;
	}
}

#editForm  {
	text-align: center;
	div:first-child {
		padding-top: 20px;
	}
	div {
		padding-bottom: 10px;
	}
	label {
		width: 100px;
		text-align: left;
	}
	select, input[type="text"]{
		text-align: left;
		width: 200px;
	}
}

.userInfo {
	width: auto;
	overflow: auto;
	overflow-x: hidden;
	margin-top: 20px;
	.portrait {
		width: 200px;
		height: 200px;
		float: left;
		border-radius: @border-radius;
	}
	ul{
		list-style: none;
		position: relative;
		left: 20px;
		span {
			font-weight: bold;
		}
	}
}

.error {
	color: red;
}

.boxes {
  width: 100%;
  height: 100%;
}

.box1 {
  height:480px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  img {
	border-radius: @border-radius;
  }
}

footer {
	margin-top: 20px;
	width: 100%;
	height: 30px;
	padding: 5px;
	clear: both;
	text-align: center;
	background-color: @light-grey;
	border-radius: @border-radius;
}

@media screen and (max-width: 800px) {
	nav#usermenu {
		ul {
			background: white;
		}
		li {
			width: 100%;
			margin-right: 0;
			margin-bottom: 3px;
		}
	}
	nav#leftmenu {
		li {
			width: 100%;
		}
	}
}	